{
    "presets": [
        ["es2015", { "modules": false }],
        "env",
        "react"
    ],
    "plugins":[
        "transform-class-properties",
        "transform-object-rest-spread",
        "syntax-dynamic-import"
    ]
}